@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nova+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 1rem;
  background: #4B4B4B;
  width: auto;
  min-height: 50%;
}

.inBar {
  padding: 1rem;
}

.inBar #Inp {
  font-size: 4rem;
  border-radius: 1rem;
  margin: 1rem;
  background: #8685EF;
  outline: none;
  border: none;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  width: 96%;
}

.inBar #Inp:focus {
  -webkit-box-shadow: 0 0 0 0.5rem #4B4B4B, 0 0 0 0.8rem #8685EF;
          box-shadow: 0 0 0 0.5rem #4B4B4B, 0 0 0 0.8rem #8685EF;
}

.inBar #btn,
.inBar #RESET {
  width: 45%;
  background: #8685EF;
  font-size: 2rem;
  margin: 1rem;
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.inBar #btn:focus,
.inBar #RESET:focus {
  -webkit-box-shadow: 0 0 0 0.5rem #4B4B4B, 0 0 0 0.8rem #8685EF;
          box-shadow: 0 0 0 0.5rem #4B4B4B, 0 0 0 0.8rem #8685EF;
}

.dispBar {
  font-size: 5rem;
  text-align: center;
  color: #1f1f1f;
}

.dispBar #Disp {
  color: chartreuse;
  font-weight: 900;
}

.dispBar #Latters {
  font-weight: 900;
  background: #1f1f1f;
  margin: 1rem;
  border-radius: 2rem;
  padding: 0;
}

.dispBar #Latters .latter {
  border-radius: 1rem;
  text-align: center;
  font-size: 4rem;
  cursor: pointer;
}

.dispBar #Latters .latter:hover {
  -webkit-box-shadow: 0 0 1rem chartreuse;
          box-shadow: 0 0 1rem chartreuse;
  color: chartreuse;
}

.dispBar .chanceNo {
  background: #1f1f1f;
  color: chartreuse;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00c89665;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .msg {
  width: 50%;
  color: #4B4B4B;
  border-radius: 2rem;
  font-size: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  background: #1f1f1f;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  padding: 2rem;
}

.disNone {
  display: none;
}

.fail {
  background: red;
}

.succ {
  background: green;
}

.def {
  background: slategrey;
}
/*# sourceMappingURL=style.css.map */