@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nova+Round&display=swap");
@mixin clearfix {
  content: "";
  clear: both;
  display: table;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

$clr-bg: #222831;
$clr-1: #393e46;
$clr-2: #00adb5;
$clr-3: #00c89665;
$clr-green: #92f8b3;
$clr-red: #e05d5d;
$clr-shadow: #324b4d;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: $clr-bg;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.TITLE {
  font-size: 3rem;
  margin: 3rem 1rem;
  //   color: $clr-2;
  text-decoration: wavy;
  color: mix($clr-shadow, $clr-2, 8%);
  // font-size: calc(1em + 20vw) ;
  font-weight: 900;
  //   text-shadow: -0.0075em 0.0075em 0 mix($clr-shadow, $clr-2, 94%),
  //     0.005em 0.005em 0 mix($clr-shadow, $clr-2, 60%),
  //     0.01em 0.01em 0 mix($clr-shadow, $clr-2, 62%),
  //     0.015em 0.015em mix($clr-shadow, $clr-2, 64%),
  //     0.02em 0.02em 0 mix($clr-shadow, $clr-2, 66%),
  //     0.025em 0.025em 0 mix($clr-shadow, $clr-2, 68%),
  //     0.03em 0.03em 0 mix($clr-shadow, $clr-2, 70%),
  //     0.035em 0.035em 0 mix($clr-shadow, $clr-2, 72%);
}

.frame {
  //   @include center;
  border-radius: 1rem;
  background: $clr-1;
  width: 100%;
  max-width: 70rem;
  margin: 1rem;
  //   min-height: 50%;
  height: max-content;
}

.inBar {
  padding: 1rem;
  .BtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Inp {
    font-size: 4rem;
    border-radius: 1rem;
    margin: 1rem;
    background: $clr-2;
    outline: none;
    border: none;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    width: 96%;
    box-shadow: 0 0 1rem $clr-bg; // 0 0 0 0.8rem $clr-2;
    &:focus {
      box-shadow: 0 0 0 0.5rem $clr-1, 0 0 0 0.8rem $clr-2;
    }
  }
  #btn,
  #RESET {
    // width: 45%;
    min-width: 15rem;
    // max-width: 25rem;
    background: $clr-2;
    font-size: 2rem;
    margin: 1rem;
    border: none;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;

    box-shadow: 0 0 1rem $clr-bg; // 0 0 0 0.8rem $clr-2;

    &:focus {
      box-shadow: 0 0 0 0.5rem $clr-1, 0 0 0 0.8rem $clr-2;
    }
  }
}
.dispBar {
  font-size: 5rem;
  text-align: center;
  color: $clr-bg;
  height: 100%;
  #Disp {
    color: $clr-2;
    font-weight: 900;
  }
  #Latters {
    font-weight: 900;
    // letter-spacing: 1rem;
    background: $clr-bg;
    margin: 1rem;
    border-radius: 2rem;
    padding: 0;
    .latter {
      border-radius: 1rem;
      text-align: center;
      font-size: 4rem;
      cursor: pointer;
      // margin: 0.1rem;
      &:hover {
        box-shadow: 0 0 1rem $clr-2;
        color: $clr-2;
      }
    }
  }
  .chanceNo {
    // width: 5rem;
    // height: 5rem;
    background: $clr-bg;
    color: $clr-2;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    // margin-bottom: 10rem;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $clr-3;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  .msg {
    width: 50%;
    // height: 50%;
    color: $clr-1;
    border-radius: 2rem;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    background: $clr-bg;
    transform: rotate(-25deg);
    padding: 2rem;
  }
}

.disNone {
  display: none;
}

.fail {
  background: $clr-red;
}

.succ {
  background: $clr-green;
}

.def {
  background: slategrey;
}
