@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nova+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #222831;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.TITLE {
  font-size: 3rem;
  margin: 3rem 1rem;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  color: #04a5ad;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame {
  border-radius: 1rem;
  background: #393e46;
  width: 100%;
  max-width: 60rem;
  margin: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.inBar {
  padding: 1rem;
}

.inBar .BtnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inBar #Inp {
  font-size: 4rem;
  border-radius: 1rem;
  margin: 1rem;
  background: #00adb5;
  outline: none;
  border: none;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  width: 96%;
  -webkit-box-shadow: 0 0 1rem #222831;
          box-shadow: 0 0 1rem #222831;
}

.inBar #Inp:focus, .inBar #Inp:hover {
  -webkit-box-shadow: 0 0 0 0.5rem #393e46, 0 0 0 0.8rem #00adb5;
          box-shadow: 0 0 0 0.5rem #393e46, 0 0 0 0.8rem #00adb5;
}

.inBar #btn,
.inBar #RESET {
  width: 100%;
  min-width: 10rem;
  background: #00adb5;
  font-size: 2rem;
  margin: 1rem;
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1rem #222831;
          box-shadow: 0 0 1rem #222831;
}

.inBar #btn:focus, .inBar #btn:hover,
.inBar #RESET:focus,
.inBar #RESET:hover {
  -webkit-box-shadow: 0 0 0 0.5rem #393e46, 0 0 0 0.8rem #00adb5;
          box-shadow: 0 0 0 0.5rem #393e46, 0 0 0 0.8rem #00adb5;
}

.dispBar {
  font-size: 5rem;
  text-align: center;
  color: #222831;
  height: 100%;
}

.dispBar #Disp {
  color: #00adb5;
  font-weight: 900;
}

.dispBar #Latters {
  font-weight: 900;
  background: #222831;
  margin: 1rem;
  border-radius: 2rem;
  padding: 0;
}

.dispBar #Latters .latter {
  border-radius: 1rem;
  text-align: center;
  font-size: 4rem;
  cursor: pointer;
}

.dispBar #Latters .latter:hover {
  -webkit-box-shadow: 0 0 1rem #00adb5;
          box-shadow: 0 0 1rem #00adb5;
  color: #00adb5;
}

.dispBar .chanceNo {
  background: #222831;
  color: #00adb5;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .msg {
  width: 50%;
  color: #00adb5;
  border-radius: 2rem;
  font-size: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  background: #222831;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  padding: 2rem;
  -webkit-box-shadow: 0 0 0 0.5rem #92f8b365, 0 0 0 0.8rem #00adb5;
          box-shadow: 0 0 0 0.5rem #92f8b365, 0 0 0 0.8rem #00adb5;
}

.disNone {
  display: none;
}

.fail {
  background: #e05d5d;
}

.succ {
  background: #92f8b3;
}

.def {
  background: slategrey;
}

.popbg1 {
  background: #92f8b365;
}

.popbg2 {
  background: #e05d5d65;
}
/*# sourceMappingURL=style.css.map */